html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
section {
    border-bottom: 2px solid rgb(240, 46, 143);
    margin-bottom: 0.3rem;
}
header {
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
}
.leftheader {
flex-basis: 40%;
text-align: right;
padding-right: 0.5rem;
}
.rightheader {
flex-basis: 60%;
margin-top: 3.75rem;
padding-left: 0.5rem;
}
.rightheader h1 {
    color:#E03890;
    margin:0;
    font-size: 3rem;
}

.rightheader p {
    margin: 0;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}


article {
 display: flex;
 flex-flow: row nowrap;
 border: 3px solid red;
}


 article img {
border-radius: 15px;
 }

 .mainpic {
     display: inline;
     margin-left: 3rem;
 }
footer {
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid greenyellow;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer li {
    display: inline-block;
}
nav {
    border-bottom: 1px solid red;
    border-top: 1px solid red;
   
}
nav ul {
    list-style-type: none;
margin: 0;
padding: 0;
justify-content: center;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    
}
nav a {
    text-decoration: none;
    color: rgb(116, 38, 103);
    display: block;
    padding: 0.5rem 1rem;

}
nav a:hover {
    background-color: black;
    color: #89A611;
    text-decoration: none;
}
.wrapper {
    width: 80%;
    margin:0 auto;
    border: 5px solid red;
}

